{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'revisao_app/css/estilos.css' %}">
    
</head>
<body>
  <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'criar_item' %}">Criar</a>
        <a href="{% url "listar_itens" %}">Listar</a>
  </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>