{% extends "revisao_app/global/index.html" %}
{% load static %}
{% block title %}Criar Item{% endblock title %}

{% block content %}

    <main class="container-criar">
        <h2>Criar Item</h2>
        <form action="{% url "criar_item" %}" method="post">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" name="nome" >

            <label for="sobrenome">Sobrenome</label>
            <input type="text" name='sobrenome'>

            <label for="email">Email</label>
            <input type="email" name='email' placeholder="email@xyz.com">

            <button type="submit">Criar</button>
        </form>

        {% if messages %}
            
                <ul>
                    {% for message in messages %}
                        <li {% if "success" in message.tags %} style= "color: var(--color); background-color: var(--color2);" {% else %} style= "color: red;background-color: var(--color2);"{% endif %}>
                                {{ message }}
                        </li>
                     {% endfor %}
                </ul>    
           
        {% endif %}
    </main>

    

{% endblock content %}