{% extends "myproject/global/index.html" %}
{% load static %} 
{% block title %}Contato{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'contato.css' %}" />
{% endblock css %}

{% block content %}
<body>

    <div id="central">
        <h1 >
            Contato
        </h1>
    
        <h2> Se voce se interessar e que mais informacoes, entre em contato conosco</h2>
        <h3> Telefone: (21) 99999-9999</h3>
    </div>
    
</body>
{% endblock content %}




</html>