*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(77, 3, 83, 0.1);
    font-family: monospace;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#9442ad;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main label {
    font-weight: bold;
    color:#712175;
}

main input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: #cc93dd;
}

main button {
    background-color: #9442ad;
    color: aquamarine;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
    width: 50%;
    align-self: center;
}

main button:hover {
    background-color:#4f1252;
}

main ul {
    margin: 20px auto;
    padding: 10px;
    background: #e6ffe6;
    border-radius: 8px;
    color: #4f1252;
    font-weight: bold;
    width: 60%;
    display: block;
    text-align: center;
}