{% extends "pizza_app/global/index.html" %}
{% load static %}
{% block title %}Página Principal{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pizza_app/css/home.css' %}" />
{% endblock css %}


{% block content %}
<body>

<h1>Conteúdo Disponível</h1>
    <main>
        <div class="cardapio">
            {% comment %} <div class="carpadio-item">
                <img src="" alt="">
                <h3>pizza 4 queijos</h3>
                <p>ingredientes huauhauh, huahua, ppipipi</p>
                <span>R$ 90,00</span>
                <button>adicionar ao carrinho</button>
                <a href="">adicionar ao carrinho</a>
            </div> {% endcomment %}
           {% for pizza in produtos %}
            <div class="cardapio-item">
                <img src="{{pizza.img}}" alt="">
                <h3>{{pizza.nome}}</h3>
                <p>{{pizza.detalhes}}</p>
                <span>{{pizza.preco}}</span>
                <div class="cardapio-botoes">
                    <button>Info</button>
                    {% comment %} <a href="{% url "carrinho_pizza" pizza.id %}"></a> {% endcomment %}
                    <button><a href="{% url "carrinho_pizza" pizza.id %}">Add</a></button>
                    {% comment %} <button onclick="adicionarAoCarrinho({{pizza.id}})">Add</button> {% endcomment %}
                    
                </div>
            </div>
           {% endfor %}
        </div>
    </main>
   

</body>
{% comment %} <script>
    function adicionarAoCarrinho(pizzaId) {
        fetch(`/carrinho/${pizzaId}`, {
            method: "GET",
        })
        .then(response => response.text())
        .then(message => {
            {% comment %} alert(message);  {% endcomment %}
            {% comment %} window.location.href = "/carrinho/" + pizzaId;
        })
        .catch(error => {
            console.error("Erro:", error);
            alert("Erro ao adicionar ao carrinho.");
        });
    } {% endcomment %}
{% comment %} </script>  
{% endcomment %}
{% endblock content %}