{% extends "pizza_app/global/index.html" %}
{% comment %} {% load static %} {% endcomment %}
{% block title %}Listagem{% endblock title %}
{% comment %} {% block css %}
  <link rel="stylesheet" href="{% static 'pizza_app/css/listar.css' %}" />
{% endblock css %} {% endcomment %}

{% block content %}
    

<main>
    <h1>Lista de Cursos</h1>
    <ul>
        {% for pizza in nomes %}
        <li>
            <img src="{{ pizza.img }}" alt="">
            <p>{{ pizza.nome }} - {{ pizza.detalhes }} - {{ pizza.preco }} - <a href="{% url 'deletar_pizza' pizza.id %}">Remover</a> - <a href="{% url 'atualizar_pizza' pizza.id %}">Atualizar</a></p>
            
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}