{% extends "pizza_app/global/index.html" %}
{% load static %}
{% block title %}Criar Curso{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pizza_app/css/pizza.css' %}" />
{% endblock css %}

{% block content %}
    

<main>
    <h1>Criar Pizza</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="Nome da pizza">
        <label for="detalhes">Detalhes</label>
        <input type="text" name="detalhes" placeholder="Detalhes do item">
        <label for="preco">Preço</label>
        <input type="text" name="preco" placeholder="Preço atual">
        <label for="img">Imagem</label>
        <input type="text" name="img" placeholder="URL da imagem">
        <button type="submit">Criar</button>
    </form>
    {% if nome.nome %}
        <ul>
        <li>A pizza "{{ nome.nome }} com o id "{{ nome.id }}" " foi criada com sucesso!</li>
        </ul>
    {% endif %}
</main>
{% endblock content %}