{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>Pizzaria Rodízio Camarada</title> {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    {% block css %}{% endblock css %}
    
</head>
<body>
    {% include "pizza_app/partials/header.html" %}
    {% block content %}{% endblock content %}
    {% include "pizza_app/partials/footer.html" %}
</body>
</html>